@media (max-width: 850px) {
  .navigation {
    background-color: #cbcbcb;
    display: flex;
    justify-content: space-between;
  }
  .navigation #myLinks {
    display: none;
  }
  .navigation a {
    color: #e8e37e;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
  }
  .navigation a.icon {
    background: #cbcbcb;
    position: absolute;
    right: 0;
    top: 0;
  }
  .navigation a:hover {
    background-color: #cbcbcb;
    color: #e8e37e;
    text-shadow: 2px 2px #000000;
  }
  .favicon {
    border-style: none;
    max-width: 100px;
  }
}

.splash {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center left;
  background-image: linear-gradient(rgba(188, 188, 188, 0.5), rgba(21, 20, 19, 0.5)), url(../img/splash2.png);
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0;
  margin-left: 0;
  height: clamp(300px, 65vw, 132vh);
  margin-block-end: 5px;
  border-radius: 10px;
}
.h1 {
  display: grid;
  font-family: "Anton", sans-serif;
  font-weight: bold;
  font-size: 3.8rem;
  font-style: normal;
  text-align: left;
  margin: 0;
  transform: rotate(90deg);
  color: #e8e37e;
}
.button {
  align-self: left;
  width: 10%;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 0.7rem;
  transition-duration: 0.5s;
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0);
  color: black;
  border: 2px solid #000000;
}
.button:hover {
  background-color: #e8e37e;
  color: rgb(0, 0, 0);
}

@media (min-width: 850px) {
  .h1 {
    font-family: "Anton", sans-serif;
    font-weight: bold;
    font-size: 8.4rem;
    font-style: normal;
    text-align: left;
    margin: 0;
    text-align: center;
    top: 31%;
    left: 0%;
    transform: rotate(90deg);
    color: #e8e37e;
  }
  .button {
    width: 30%;
    justify-self: center;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0);
    color: black;
    border: 2px solid #000000;
  }
  .button:hover {
    background-color: #e8e37e;
    color: rgb(0, 0, 0);
  }
  .topnav .icon {
    display: none;
  }
  .navigation #myLinks {
    display: flex;
    justify-content: center;
  }
  #myLinks {
    margin: 0;
  }
  .favicon {
    border-style: none;
    max-width: 100px;
  }
}
